body{
    background: #461220;
}
header,main,nav,footer {
    text-align:center;
}
h1 {
    color:#fed0bb;
    text-align: center;
}
.text{
        color:#fed0bb;
        text-align:center;
}

.header { 
    width:50%;
    height: 1px;
    background-color: #000;
    border: none;
}
.footer{
    height: 1px;
    background-color: #000;
    border: none;
}
